
  .item{
    border: 1px solid grey;
    background-color: blue;
    color: yellow;
    border-radius: 0.5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4px 6px;
    margin: 5px 0;
    align-items: center;
  }
  .item .btns{
    color: white;
    display: flex;
    gap: 7px;
    /* justify-content: space-between;
    background-color: yellow; */
  }
  .item:hover{
    background-color: green;
  }